* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  width: 100%;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  background: bisque;
}
body:before {
  filter: blur(10px);
}

/* Hero Section */
.hero {
  inset: 0;
  width: 100%;
  height: 100vh;
  background: url("/src/assets/bg2.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 70px;
  margin-left: 0;
  margin-right: 0;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
  z-index: 1;
}

.hero-content {
  width: 100%;
  color: white;
  z-index: 2;
  text-align: left;
  margin-left: 10vh;
}
.hero-content img {
  height: 90vh;
  width: 50vh;
}

.hero h2,
.hero h1 {
  font-size: 9rem;
  margin-bottom: 20px;
  font-family: "CurlyFont", sans-serif;
  color: antiquewhite;
}

.hero p {
  font-size: 4rem;
  margin-bottom: 20px;
  font-family: "LongFont", sans-serif;
  color: antiquewhite;
}

/* Mobile Responsive Header */
@media screen and (max-width: 900px) {
  .header {
    padding: 15px 20px; /* Adjust padding for smaller screens */
  }
  .hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: "CurlyFont", sans-serif;
  }

  .hero p {
    font-size: 3rem;
    margin-bottom: 20px;
    font-family: "LongFont", sans-serif;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .header h1 {
    font-size: 2rem; /* Smaller font size on mobile */
    margin-bottom: 10px;
  }
}

/* Body Content Section */
.body-content {
  background-color: #f4f4f4;
  padding: 50px 20px;
  text-align: center;
  height: 100vh;
}

.body-content h2 {
  font-size: 10vh;
  margin-bottom: 20px;
  font-family: "LongFont", sans-serif;
}

.body-content p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.body-images {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Full width of the container */
  height: 20vh; /* Full height of the viewport */
}

.footer-content {
  width: 30%; /* 30% width for the content */
}

.footer h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.footer p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.social-login-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.3));
}
.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-1-1,
.social-icon-2,
.social-icon-2-2,
.social-icon-3,
.social-icon-3-3,
.social-icon-4,
.social-icon-4-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 20px 0 0px 0;
}

.icon svg {
  fill: #111;
}

.socialcontainer {
  height: 80px;
  overflow: hidden;
}
.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
}
.social-icon-1 svg,
.social-icon-2 svg,
.social-icon-3 svg,
.social-icon-4 svg {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}
.social-icon-1-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0, 0);
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-70px);
}
.socialcontainer:hover .social-icon-1 svg,
.socialcontainer:hover .social-icon-2 svg,
.socialcontainer:hover .social-icon-3 svg,
.socialcontainer:hover .social-icon-4 svg {
  opacity: 1;
}
.social-icon-2 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-70px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-70px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);

  background: linear-gradient(
    180deg,
    rgba(129, 34, 144, 1) 0%,
    rgba(77, 34, 124, 1) 91%
  );
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-70px);
}
