/* Header.css */

.header {
  background: #3e2723;
  color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adding shadow for a solid look */
}
/* Navigation Links */
.nav-links {
  display: flex;
  justify-content: flex-end; /* Align to the right */
  gap: 10px; /* Closer gap between links */
}


.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 20px;
}
.log-btn{
  background: none;
  border: none;
  cursor: pointer;

}
.nav-links a,
.nav-links Link,
.log-btn{
  color: white;
  text-decoration: none;
  font-size: 2rem;
  transition: color 0.3s ease;
  font-family: "CurlyFont", sans-serif;
}

.nav-links a:hover,
.nav-links Link:hover,
.log-btn{
  color: #ff9800;
}
